<div class="container">
    {{#if students }}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Name</th>
                <th scope="col">Course</th>
                <th scope="col">Group</th>
                <th scope="col">Points</th>
                <th scope="col">Add points</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <th scope="row">{{img}}</th>
                <td>{{name}}</td>
                <td>{{course}}</td>
                <td>{{group}}</td>
                <td class="score">{{points}}</td>
                <td class="addPoints">
                    <button type="button" class="btn btn-secondary forPoints">Add points</button>
                    <form action="/add/poits" method="post" class="formToaAddPoints"  >
                    <label for="addPoints">Add points</label>
                    <input type="Number" id="addPoints" aria-describedby="pointsHelp" name="addPoints">
                    <label for="id"></label>
                    <input type="hidden" id="id" aria-describedby="pointsHelp" name="id" value="{{id}}">
                   <input type="hidden" value="{{points}}" name="oldpoints">
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <h2>student is empty</h2>
    <a href="/add/student">Add student</a>
    {{/if}}
</div>
